* {
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --text-color: #000;
}

[data-theme="dark"] {
  --bg-color: #000;
  --text-color: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 800px;
  margin: auto;
}
